
packages/*/node_modules
packages/*/dist
packages/*/es6*
packages/*/env
packages/*/auth_config
packages/tdb-dashboard/.env
packages/tdb-dashboard/cypress/integration/1-getting-started
packages/tdb-dashboard/cypress/integration/2-advanced-examples
packages/tdb-documents-ui_old
packages/tdb-documents-ui/src/oneOfTypeFrames copy
packages/tdb-documents-ui/src/oneOfTypeFrames copy2
packages/tdb-documents-ui/src/oneOfTypeFrames copy3

packages/tdb-documents-ui/mockTest
packages/tdb-documents-ui/playground/.env
packages/tdb-documents-ui/test/.env
packages/tdb-documents-ui/diff/.env
packages/tdb-documents-ui/src/pending.md

*.DS_Store
node_modules/
lerna-debug.log
packages/tdb-dashboard/local_file

packages/tdb-dashboard/cypress.config_local.js
packages/tdb-dashboard/cypress.config.js

