

.rjsf {
    width: 100%;
}

.tdb__subdocument__collapse_headers{
    background: none !important;
    padding: 0 !important;
    max-height: 20px;
}


.tdb__input,
.tdb__input > input, 
.tdb__input > select, 
.tdb__view__enum__input > select,
.tdb__input > textarea
{
    color: #adb5bd !important;
    background-color: transparent !important;
    border-color: rgb(102, 102, 102) !important;
    line-height: 1.5;
}

.tdb__input > select, 
.tdb__view__enum__input > select
{
    margin-left: 1rem !important;
}

.tdb__margin__adjust__documents {
    margin-left: 2.5rem;
}

.tdb__input > input:focus {
    color: #adb5bd;
}

/** diffs ***/
input.tdb__diff__original,
.tdb__diff__original > input, 
.tdb__diff__original > textarea,
.tdb__diff__original > select {
    color: #842029 !important;
    background-color: #f8d7da !important;
    border-color: #f5c2c7 !important;
}

.tdb__diff__original__subDocuments,
.tdb__diff__original .tdb__markdown__view { 
    border: 1px solid #842029 !important;
}

/*.tdb__diff__changed_removed > input,
.tdb__diff__changed_removed > textarea {
   
}*/

/** choice sub documents when choices have changed */
.tdb__diff__original__bg {
    border-radius: 6px;
    border: 1px solid #842029;
    padding: 10px;
}

/** choice sub documents highlight choice change */
.tdb__diff__original__bg > div.panel-body > div.form-group > select,
.tdb__diff__original__textrea > textarea,
.tdb__diff__original__textrea > input {
    background-color: #f8d7da !important;
    color: #842029 !important;
}

/* document links & enum */
.tdb__diff__original > span,
.tdb__diff__enum__original > select  {
    color: #e74c3c !important;
    border: 0;
}

.text_diff_select {
    background-color: transparent !important;
    border: 0 !important;
}

.text_diff_underline {
    text-decoration: underline!important;
}

.text_diff_original_underline,
span.tdb__diff__original__diff__view {
    background-color: transparent !important;
    border: 0 !important;
    color: #e74c3c !important;
    text-decoration-color: #842029 !important;
    text-decoration: underline!important; 
}

.text_choice_documents {
    margin: 0px 0px 0px 50px !important;
}


input.tdb__diff__changed, 
.tdb__diff__changed > input, 
.tdb__diff__changed > textarea,
.tdb__diff__changed > select {
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
}

.tdb__diff__changed .tdb__markdown__view,
.tdb__diff__changed__subDocuments { 
    border: 1px solid #0f5132 !important;
}


/** choice sub documents when choices have changed */
.tdb__diff__changed__bg { 
    border-radius: 6px;
    border: 1px solid #0f5132;
    padding: 10px;
}

.lift__padding{
    padding: 10px 10px 0px 10px !important;
}

/** choice sub documents highlight choice change */
.tdb__diff__changed__bg > div.panel-body > div.form-group > select,
.tdb__diff__changed__textrea > textarea,
.tdb__diff__changed__textrea > input {
    background-color: #d1e7dd !important;
    color: #0f5132 !important;
}

.removed__label {
    margin-top: 90px;
    position: absolute;
}

/* document links & enum */
.tdb__diff__changed > span,
.tdb__diff__enum__changed > select  {
    color: #00bc8c !important;
    border: 0;
}

.tdb__input__diff__view{
    text-decoration: underline;
}

.text_diff_changed_underline,
span.tdb__diff__changed__diff__view {
    background-color: transparent !important;
    border: 0 !important;
    color: #00bc8c !important;
    text-decoration-color: #0f5132 !important;
    text-decoration: underline!important;
}

.diff__help__text {
    font-size: 12px;
    font-style: italic;
}

/** selects ***/
select, .rbt-input-main {
    background-color: transparent !important;
    color: #adb5bd !important;
    border-color: rgb(102, 102, 102) !important;
    line-height: 1.5;
}

.rbt-input-hint{ /** hide hint for typeahead select**/
    display: none;
}

.rbt{
    width: 100%;
    height: fit-content;
}

/*** input layouts in view mode ***/
.tdb__view__input, .tdb__view__enum__input{
    display: flex;
    color: #ccc;
}

.tdb__view__input > input,  .tdb__view__enum__input > select{
    border: 0;
    margin: -10px 0px;
    /*color: #fff !important;*/
}

.tdb__view__input > span.tbd__view__select{
    color: #fff !important;
    margin-left: -10px;
    cursor: pointer;
    text-decoration: underline;
}

.tdb__view__input > span > select,
.tdb__view__input > select,
.tdb__view__input > span.tdb__span__select {
    border: 0;
    background-color: transparent !important;
    background-image: none !important; /** hiding select carrot **/
    margin: 0px 0px 0px -10px !important;
    color: #fff ;
    text-decoration: underline;
    cursor: pointer;
}

.css-qc6sy-singleValue {
    color: #fff !important;
}

.tdb__view__input > span > select:hover,
.tdb__view__input > select:hover,
.tdb__view__input > span.tdb__span__select:hover{
    color: #2196f3 !important;
}

.tdb__view__input > label, .tdb__view__enum__input> label{
    width: 300px;
}

.tdb__view__input > label > .required, .tdb__view__enum__input > label > .required{
    display: none;
}

.required {
    font-size: 14px;
    /*color: #ffc107!important;*/
    color: #6c757d !important;
    display: flex;
}

.required::after {
    content: "(required)";
    font-style: italic;
}


.tdb__subdocument__collapse_headers > span {
    color: #f9d891 !important;
    font-size: 16px !important;
}

/** json editor styles */
#json_type_field-container {
    border-radius: 4px !important;
}

#json_type_field-outer-box {
    margin-bottom: 10px !important;
    margin-left: 1.0rem !important;
}


div.array-item {
    display: flex !important;
}

div.array-item > div {
    width: 100% !important;
}

/** hide control label for arrays */
div.tdb__array__frames .control-label {
    /*display: none;*/
    opacity: 0 !important;
}

/** display control label of subdcouments for arrays */
.tdb__subdocument__card  .control-label {
    /*display: none;*/
    opacity: 100 !important;
}

div.array-item > div.array-item-toolbox {
    margin-left: 20px !important;
}

.array-item-remove{
    color: #e74c3c !important;
    background-color: transparent !important;
    border-color: transparent !important;
}


i.glyphicon-chevron-right::after {
    content: 'Expand';
    float: right;
    font-style: normal;
    color: #ccc;
    font-size: 15px;
}

i.glyphicon-chevron-down::after {
    content: 'Collapse';
    float: right;
    font-style: normal;
    color: #ccc;
    font-size: 15px;
}

.date-list-style > ul {
    display: flex !important;
}

select > option {
    background-color: #444 !important;
}


legend {
    display: none;
}

/** display legend for geo/ choice sub document frames */
.tdb__geo__input legend,
.tdb__multipolygon__input legend,
.choice_subdocument_title legend,
.choice_subdocument_title .control-label, 
.tdb__array__frames legend, 
.tdb__rdf legend,
.tdb__array__frames span.control-label { 
    display: block !important; 
    font-size: 1rem;
    /*margin-top: -38px;*/
}

/** hide choice selector in edit & view mode for choice sub document */
  /*div.tdb__choiceSubDocuments_edit .panel-body{
  display: none !important;
}*/
/** subdocument title */
.tdb__subdocument__legend legend {
    display: block; 
    font-size: 1rem;
    background: #303030;
    margin-bottom: 1rem;
}


.field-description {
    color: #888;
}

#map-leaflet-id{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/** hide any of choice selected from ui when map is in VIEW mode */
.tdb__view__map .panel-body {
    display: none !important;
}

.leaflet-container {
    height: 400px;
    width: 80%;
    margin: 0 auto;
}
.leaflet-popup-content {
    color: #000;
}

 .norwayLink{
    color: #0078A8;
 }

 .norwayLink:hover{
    text-decoration: underline;
    cursor: pointer;
 }

/** optimiz **/
 .tdb__span__select {
    border: 0;
    background-color: transparent !important;
    background-image: none !important; /** hiding select carrot **/
    /*margin: 0px 0px 0px 50px !important;*/
    text-decoration: underline;
    cursor: pointer;
}

.btn-now,
.btn-clear {
    color: #444 !important;
    background-color: #adb5bd !important;
    border-color: #adb5bd !important;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    margin: 5px;
}

div.leaflet-popup-content-wrapper > div.leaflet-popup-content {
    color: #000;
}

.comment_overlay_css {
    float: right;
    margin-top: -20px;
    margin-bottom: 10px;
}

.diff__subDocument__accordian {
    background-color: #444 !important;
    padding: 0.5rem !important;
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.original_subDoc_diff_border {
    border: 1px solid #dc3545;
}

.changed_subDoc_diff_border {
    border: 1px solid #28a745;
}

/** REACT DIFF VIEWER FOR MARKDOWN **/
/** hide changed diff from original react-diff-viewer */
div.diff_react_viewer_original > table.css-1ri4lr5-diff-container > tbody > tr.css-1n7ec1i-line td:nth-last-child(-n+3) {
    display: none !important;
}

/** make line width 10% */
div.diff_react_viewer_original > table.css-1ri4lr5-diff-container > tbody > tr.css-1a6arsc-code-fold > td.css-jbzd4j-code-fold-gutter  {
    width: 10% !important;
}

/** expand diff highlights 100% */
.css-1caozzd-split-view .css-vl0irh-content {
    width: 100% !important;
}

/** hide original diff from changed react-diff-viewer */
div.diff_react_viewer_changed > table.css-1ri4lr5-diff-container > tbody > tr.css-1n7ec1i-line td:nth-child(-n+3) {
    display: none !important;
}

div.inserted { 
    background-color: #badbcc !important;
    border-radius: 4px;
}

div.deleted { 
    background-color: #f8d7da !important;
    border-radius: 4px;
}

div.inserted *, div.deleted * {
    color: #444 !important;
}

div.inserted * input, div.deleted * input {
    color: #444 !important;
}

.hide__opacity {
    opacity: 0 !important;
}

.modal-dialog{
    overflow-y: initial;
}
.modal-body{
    max-height: 80vh;
    overflow-y: auto;
}


.tdb__frame__viewer  div.form-group {
    display: flex;
}

.tdb__frame__viewer  div.form-group > input,
.tdb__frame__viewer  div.form-group > textarea,
.tdb__frame__viewer  div.form-group > a {
    margin-left: 1rem; 
}


.tdb__frame__viewer  fieldset { 
    width: 100%;
}

.tdb__frame__viewer  .control-label {
    width: 10rem;
    overflow-wrap: break-word;
    color: white;
    /*display: flex;*/
}

/** stylize checkbox input for bool fields */
div.checkbox label input {
    min-height: auto !important;
    margin-right: 10px;
}

/**
hides documentation icon from each fields of list/ Set
hides required astricks from each fields of list/ Set
*/
div.tdb__view span.required,
div.tdb__array__items__css span.required,
div.tdb__array__items__css button.tdb__documentation__help {
    display: none !important;
}

.tdb__hidden_from_view_mode {
    display: none !important;
}


.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 18px !important;
  line-height: 24px !important;
}



/*
.tdb__view input:empty,
.tdb__view textarea:empty {
    display: none  !important;
}*/

label:empty{
    display: none  !important;
}

