/*** Pink: de7dd8, Purple: 855afc, Blue: 4c58d2, Yellow: f9d891  ***/
 /* mute: D2D3D9 */

 :root {
    --color-pink: #de7dd8;
    --text-contrast-pink: #002856;
    --color-indigo: rgb(52, 80, 220);
    --color-purple: #855afc;
    --color-purple-hover: #8f75d8;
    --text-contrast-purple: #fff;
    --color-yellow: #f9d891;
    --text-yellow: #664d03 ;
    --color-contrast-yellow: #002856;
    --color-border-yellow: #d7a12f;

    --custom-text: var(--color-pink);
    --custom-nav: var(--color-pink);
    --custom-nav-text: var(--text-contrast-pink);
    --custom-button: var(--color-purple);
    --custom-button-text: var(--text-contrast-purple);
    --color-purple-hover: var(--color-purple-hover);

    --badge-color: var(--color-yellow);
    --badge-text-color: var(--color-contrast-yellow);
    --badge-border-color: var(--color-border-yellow);
}

/** subscription css */
.free_button_text_color {
    color: var(--text-yellow) !important;
}
  
.free {
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
}

.badge-free { 
    background-color: var(--color-yellow);
}
  
.professional { 
    border: 1px solid var(--color-pink);
    color: var(--color-pink);
}

.badge-professional { 
    background-color: var(--color-pink);
}
  
.scale {
    border: 1px solid var(--color-purple);
    color: var(--color-purple);
}

.badge-scale { 
    background-color: var(--color-purple);
}
  
.enterprise {
    border: 1px solid var(--color-indigo);
    color: var(--color-indigo)
}

.badge-enterprise { 
    background-color: var(--color-indigo);
}
  
.verify__email {
    background : linear-gradient(122deg,var(--color-yellow) 0,var(--color-pink) 48%, var(--color-indigo) 100%);
}

.text-success,
h3.text-success,
h4.text-success,
h2.text-success,
strong.text-success,
span.text-success,
div.text-success {
    color: var(--color-pink) !important;
}


.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color:  var(--custom-nav) !important;
}
  
.navbar-dark .navbar-nav .nav-link.active{
    background-color: var(--custom-nav);
    color: var(--custom-nav-text) !important;
}


.btn-info,
div.tdb__create__new__dp.bg-info {
    background-color: var(--custom-button) !important;
    border-color: var(--custom-button) !important;
    color: var(--custom-button-text) !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: var(--custom-button-text);
    background-color: var(--color-purple-hover);
    border-color: var(--custom-button);
}

.bg-primary,
span.bg-primary {
    background-color: var(--badge-color) !important;
    border-color: var(--badge-border-color) !important;
    color: var(--badge-text-color) !important;
}

span.bg-primary.note__badge {
    background-color: #3450DC !important;
    color: #f9d891 !important;
    font-weight: bolder !important;
}

.bg-success {
    background-color: var(--color-pink) !important; 
}