
/** tdb input */
.tdb__input {
  color: #adb5bd!important;
  background-color: transparent!important;
  border-color: #666!important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #222;
}

/** all property labels */
label.control-label {
  text-align:left; 
  word-wrap: break-word !important;
  word-break: break-word !important;
  word-break: break-all;
  min-width: 15rem;
  width: 15rem;
}

/** required */
.required {
  font-size: 14px;
  color: #6c757d !important;
  display: flex;
}

.required::after {
  content: "(required)";
  font-style: italic;
}