:root {
	--input-color: #adb5bd;
  --input-border: 1px solid rgb(102, 102, 102);
  --required-color: #6c757d;
  --tdb-label-width: 10rem;
  --input-calander-color: #000;
  --rounded: 0.375rem;
}



/** tdb input */
.tdb__doc__input {
  color: var(--input-color) !important;
  background-color: transparent!important;
  border: var(--input-border) !important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  background-clip: padding-box;
}

/** all property labels */
label.control-label {
  text-align:left; 
  word-wrap: break-word !important;
  word-break: break-word !important;
  word-break: break-all;
  min-width: var(--tdb-label-width);
  width: var(--tdb-label-width);
}

/** required */
.required {
  font-size: 14px;
  color: var(--required-color) !important;
  display: flex;
  width: var(--tdb-label-width);
}

.required::after {
  content: "(required)";
  font-style: italic;
}

/** tdb property labels */
.tdb__label__width {
  max-width: var(--tdb-label-width);
  width: var(--tdb-label-width);
}

/** tdb add array button */
.tdb__add__button {
  margin-left: var(--tdb-label-width);
}

/** react calander */
.react-calendar {
  background-color: var(--input-calander-color);
}

.react-datetime-picker { 
  width: 100%;
}

.react-datetime-picker__wrapper { 
  border-radius: var(--rounded);
}

.react-datetime-picker__inputGroup__input:invalid { 
  background: transparent;
}

/** react calander set color to dark on select or hover */
.react-calendar__tile:hover,
.react-calendar__tile--now,
.react-calendar__navigation__label:hover,
.react-calendar__navigation__label__labelText:hover,
.react-calendar__navigation__arrow:hover { 
  color: var(--input-calander-color);
}

.react-datetime-picker__wrapper { 
  color: var(--input-color) !important;
  background-color: transparent!important;
  border: var(--input-border) !important;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
}