@import "https://bootswatch.com/5/darkly/bootstrap.css";
@import "//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css";

:root {
	--input-color: #adb5bd;
  --input-border: 1px solid rgb(102, 102, 102);
  --required-color: #6c757d;
  --tdb-label-width: 11rem;
  --tdb-latlng-label-width: 5rem;
  --input-calander-color: #000;
  --rounded: 0.375rem;
  --field-margin-bottom: 1rem;
  --array-margin-bottom: 2rem;
  /** diff colors */
  --danger-color: #842029;
  --danger-bg: #f8d7da;
  --danger-diff-icons-color: var(--danger-bg);
  --diff-icons-size: 20px;
  --danger-border-color: #f5c2c7;
  --success-color: #0f5132;
  --success-bg: #d1e7dd;
  --success-diff-icons-color: var(--success-bg);
  --success-border-color: #badbcc;
}


/** tdb input */
.tdb__doc__input { 
  color: var(--input-color);
  background-color: transparent;
  border: var(--input-border) !important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem;
  font-weight: 400; 
  line-height: 1;
  background-clip: padding-box;
}

/** all property labels */
label.control-label {
  text-align:left; 
  word-wrap: break-word !important;
  word-break: break-word !important;
  word-break: break-all;
  min-width: var(--tdb-label-width);
  width: var(--tdb-label-width);
}

/** labels for latitude & longitude */
label.latlng-control-label {
  text-align:left; 
  word-wrap: break-word !important;
  word-break: break-word !important;
  word-break: break-all;
  min-width: var(--tdb-latlng-label-width);
  width: var(--tdb-latlng-label-width);
}

/** required */
.required {
  font-size: 14px;
  color: var(--required-color) !important;
  display: flex;
  width: var(--tdb-label-width);
}


.required::after {
  content: "(required)";
  font-style: italic;
}

/** tdb property labels */
.tdb__label__width {
  max-width: var(--tdb-label-width);
  width: var(--tdb-label-width);
}

/** tdb add array button */
.tdb__add__button {
  margin-left: var(--tdb-label-width);
}

/** react calander */
.react-calendar {
  background-color: var(--input-calander-color);
}

.react-datetime-picker { 
  width: 100%;
}

.react-datetime-picker__wrapper { 
  border-radius: var(--rounded);
}

.react-datetime-picker__inputGroup__input:invalid { 
  background: transparent;
}

/** react calander set color to dark on select or hover */
.react-calendar__tile:hover,
.react-calendar__tile--now,
.react-calendar__navigation__label:hover,
.react-calendar__navigation__label__labelText:hover,
.react-calendar__navigation__arrow:hover { 
  color: var(--input-calander-color);
}

.react-datetime-picker__wrapper { 
  color: var(--input-color) !important;
  background-color: transparent!important;
  border: var(--input-border) !important;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
}

/* datepciker css when date has been chosen */
.react-datetime-picker--closed { 
  color: var(--input-color) !important;
  background-color: transparent!important;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/** diff classNames */
.tdb__diff__original {
  color: var(--danger-color);
  background-color: var(--danger-bg);
  border: var(--danger-border-color);
} 

.tdb__diff__original__deleted {
  color: var(--danger-diff-icons-color);
  font-size: var(--diff-icons-size);
}

/** for documents with fields inside - like subdocuments/ choice subdocuments */
.tdb__diff__original-border { 
  border: 1px solid var(--danger-border-color);
}

/** for document link properties */
.tdb__diff__original-underline { 
  color: var(--danger-bg);
}

.tdb__diff__changed__deleted {
  color: var(--success-diff-icons-color);
  font-size: var(--diff-icons-size);
}

.tdb__diff__changed {
  color: var(--success-color);
  background-color: var(--success-bg);
  border: var(--success-border-color);
} 

/** for documents with fields inside - like subdocuments/ choice subdocuments */
.tdb__diff__changed-border { 
  border: 1px solid var(--success-border-color);
}

/** for document link properties */
.tdb__diff__changed-underline { 
  color: var(--success-bg);
}

/** margin bottom for fields */
.tdb__doc__input,
.tdb__subdocument__input,
.react-datetime-picker,
.tdb__enum__input,
.tdb__array__input {
  margin-bottom: var(--field-margin-bottom);
}

.tdb-number {
  line-height: 2;
}

/** margin bottom for array templates */
.tdb__array__holder {
  margin-bottom: var(--array-margin-bottom);
}

/** leaflet container */
.leaflet-container {
  height: 200px !important;
  width: 80%;
  margin: 0 auto;
}

/** modal width */
.modal-90w {
  min-width: 1000px;
}

/* mark down react diff */
div.tdb__markdown_diff__original  > table.css-1ri4lr5-diff-container > tbody > tr.css-1n7ec1i-line td:nth-last-child(-n+3)  {
  display: none;

}

div.tdb__markdown_diff__changed  > table.css-1ri4lr5-diff-container > tbody > tr.css-1n7ec1i-line td:nth-last-child(n+3)  {
  display: none;
}

/* jsson editor border radius */
#root_jsonProp_1__1-container {
  border-radius: 4px;
}

