@import "./terminusdb__styles.css";
@import "https://bootswatch.com/5/lumen/bootstrap.css";
@import "//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css";

:root {
	--input-color-light: #000;
  --input-border: 1px solid #000;
  --required-color: #6c757d;
  --tdb-label-width: 13rem; 
  --label-color-light: var(--input-color-light);
  --tdb-light: #f8f9fa;
  --nested-control-label-color: #f8f8f8;
  --nested-required-label-color: #ccc;
  --tdb-latlng-label-width: 5rem; 
  --rounded: 0.375rem;
  --field-margin-bottom: 1rem;
  --array-margin-bottom: 2rem;
}

.tdb__frame__viewer {
  background-color: var(--tdb-light)!important;
  padding: 1rem;
  border-radius: 4px;
}

.tdb__doc__input {
  color: var(--input-color-light)!important;
}

label.control-label {
  color: var(--label-color-light) !important;
}



